body{
   background-color:rgb(76, 74, 74);
   
   width: 100%;
   font-family: 'Roboto',sans-serif;
   overflow-x: hidden;
   margin:  0;
   padding: 0;
}
a p{
    padding: 0;
    margin: 0;
    text-decoration: none;
}




    
   
    
   
    
    



